* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #020a13;
}

.Contenedor {
  font-family: "Oswald", sans-serif;
  margin: auto;
  width: 100%;
  margin: auto;
  font-size: 17px;
}

.Navigation {
  width: 100%;
  background: #0b121b;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  padding: 2px 0;
}

.Navigation ul {
  list-style: none;
  display: flex;
}

.Navigation ul li {
  padding: 10px;
}

.Navigation ul li a {
  color: #fff;
  text-decoration: none;
  padding: 2px;
}

.Navigation ul li a:hover {
  opacity: 0.5;
  border-bottom: 2px solid #00000079;
}

.Navigation ul {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: fixed;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }
  .Navigation ul li a {
    color: #fff;
  }
  .Navigation {
    padding: 0;
    display: block;
    width: 35%;
    height: 100%;
    text-align: center;
    transform: translateX(-20px);
    background: none;
  }
  .Navigation ul.nav-ul {
    padding-top: 50px;
    height: 100%;
    background: #001836;
    list-style: none;
    display: block;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
  }
  .Navigation ul.nav-ulShow {
    padding-top: 50px;
    height: 100%;
    background: #001836;
    list-style: none;
    display: block;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }
}